@model MvcApplication2.Models.Product
@{
    ViewBag.Title = "ViewEditProduct";
}

<h1>Product Information</h1>
<form method="post" action="/Admin/EditProduct/@Model.PId">
    <ol>
        <li>
            Product Name : <input type="text" value="@Model.Name" name="product_name" />
        </li>
        <li>
            Product Price : <input type="text" value="@Model.Price" name="product_price" />
        </li>
      
    </ol>
    <input type="submit" value="Update" />
</form>
