@{
    ViewBag.Title = "About";
}

<hgroup class="title">
 </hgroup>

<article>
        Use this area to provide additional information.
   
</article>

<aside>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>