@{
    ViewBag.Title = "Contact Us" ;
}



<style>
    .label {
    color:red;
    }



</style>


<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Office:</span>
        <span>(+92)900-78061</span>
    </p>

</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="Bcsf11m062@pucit.edu.pk">Bcsf11m062@pucit.edu.pk</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="Bcsf11m062@pucit.edu.pk">Bcsf11m062@pucit.edu.pk</a></span>
    </p>

</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Lahore , Pakistan
        
    </p>
</section>