@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>FAQ's</h2>


<p>

    </br>
<strong>Q:How would order take place?</strong> </br>

<i>Ans:Order take place online and would be reached to your destination.</i>



</p>
